:host {
  display: block;
  margin-top: 1rem;
}

mat-spinner {
  margin: auto;
}

mat-paginator {
  margin-top: 1rem;
}

.info-text {
  text-align: center;
}
.navbar input[type=search] {
  width: 100%;
  padding: 6px;
  border: none;
  margin-top: 8px ;
  margin-bottom: 16px ;
  font-size: 17px;
}
